{% extends "user/home_layout.html" %}
{% block content %}
<div class="content" style="background-color: white;padding: 3em;">
    <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        {{ blog_deets.userdeets.user_fullname }}
      </h3>
      {% with message = get_flashed_messages() %}
        {% if message %}
        {% for m in message: %}
          <div class="alert alert-info">{{m}}</div>
        {% endfor %}
        {% endif %}
      {% endwith %}
        <article>
            <h5><span id="counter">{{ blog_deets.all_comments|count }} Comment(s)</span></h5>
            <p>{{ blog_deets.topic_title }}</p>
        </article>
        <hr>
        <div class="comment">
            {% if blog_deets.all_comments %}
                {% for c in blog_deets.all_comments: %}
                <pre>{{ c.comment_text }}</pre>
                <pre>by {{ c.commentby.user_fullname }} on {{ c.comment_date }}</pre>
                {% endfor %}
            {% endif %}
        </div>
        {% if session.get('user') != None: %}
                <pre id="feedback"></pre>
                <div class="form-group row">
                    <label for="comment">Say something about this post</label>
                    <div class="col-md-8">
                        <textarea name="comment" id="comment" cols="20" rows="5"></textarea>
                    </div>
                    <div>
                        <button id="btncomment" class="btn btn-success">Post Comment</button>
                    </div>
                </div>

        {% endif %}
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">

        <div class="p-4">
          {% if session.get('user') != None: %}
          <a href="/newtopic" class="btn btn-warning">Post New Topic</a>
          {% endif %}
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">Performing Artistes</a></li>
            <li><a href="#">Partner Hotels</a></li>
            <li><a href="#">Event Managers</a></li>
            <li><a href="#">Bids for Contracts</a></li>
            
          </ol>
        </div>

       
      </div>
    </div>
  </div>

   </div>
<script src="{{ url_for('static',filename='assets/dist/js/jquery.min.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#btncomment').click(function(){
      var msg = $('#comment').val()
      var userid = "{{session.get('user')}}"
      var topic = "{{ blog_deets.topic_id }}"
      var data2send = "message="+msg+"&userid="+userid+"&topicid="+topic ;
      //make an AJAX call $.ajax({key:'value',key:'value'})
      $.ajax({
        url:"/sendcomment",
        data:data2send,
        type:"GET",
        dataType:"text",
        success:function(response){
          //$('#feedback').html(response)
          //$('#feedback').addClass('alert alert-success')
          $('.comment').append(response)
          var current_count = parseInt($('#counter').text()) + 1
          $('#counter').text(current_count)
          $('#comment').val('')
        },
        error:function(errmessage){
          console.log(errmessage)
        }
      })
    })
  })
</script>
{% endblock %}