{% extends "user/home_layout.html" %}
{% block content %}
   <div class="content" style="background-color: white;padding: 3em;">
    <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Contact Us
      </h3>
      {% set done = get_flashed_messages() %}
      {% if done: %}
        {% for d in done %}
        <span class="alert alert-danger">{{ d }}</span>
        {% endfor %}
      {% endif %}
      <form action="/contact" method="post">
        {{ contact.csrf_token }}
        <div class="mb-3 form-group row">
            {{ contact.email.label(class_='col-md-2') }}
            <div class="col-md-6">
                {{ contact.email(class_='form-control border-success') }}
            </div>
            {% if contact.email.errors %}
            {% for email_error in contact.email.errors %}
                <div class="col-auto">
                    <span class="alert alert-danger">{{ email_error }}</span>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3 form-group row">
            {{ contact.message.label(class_='col-md-2') }}
            <div class="col-md-6">
                {{ contact.message(class_='form-control border-success') }}
            </div>
            {% if contact.message.errors %}
            {% for message_error in contact.message.errors %}
                <div class="col-auto">
                    <span class="alert alert-danger">{{ message_error }}</span>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3 form-group row">
            <div class="col">
                {{ contact.submit(class_='btn btn-success btn-lg col-9') }}
            </div>
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">Performing Artistes</a></li>
            <li><a href="#">Partner Hotels</a></li>
            <li><a href="#">Event Managers</a></li>
            <li><a href="#">Bids for Contracts</a></li>
            
          </ol>
        </div>

       
      </div>
    </div>
  </div>



   </div>
{% endblock %}