<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{url_for('static',filename='assets/dist/css/bootstrap.min.css')}}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <script type="text/javascript" defer src="{{ url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <title>Admin Dashboard</title>
</head>

<body>
<div class="d-flex" id="wrapper">
    
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold border-bottom" style="color: #008753;">
            <img src="{{ url_for('static',filename='images/42c92cb8-fc29-42c7-b1e2-38971e84f946-removebg-preview.png') }}" alt="">
            <p>memba</p>
        </div>

        {% include 'admin/menu.html' %}
    </div>


    
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0" style="color: #008753;">Dashboard</h2>
            </div>
        </nav>

    <div class="container-fluid px-4">
        <div class="row g-3 my-2" style="color: #008753;">
            <div class="col-md-12">
                <div style="background-color: white;padding: 3em;">
                <table border="1" cellspacing="0" class="table table-light">
                    <thead class="table-success">
                        <tr>
                            <th>S/N</th>
                            <th>Title</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in posts: %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{p.topic_title}}</td>
                            <td>{{p.userdeets.user_fullname}}</td>
                            <td>{% if p.topic_status=='1': %}
                                <span class="badge bg-success">Approved</span>
                                {%else%}
                                <span class="badge bg-warning">Pending</span>
                                {%endif%}
                            </td>
                            <td>
                                <a href="{{url_for('edit_topic',id=p.topic_id)}}" class="btn btn-warning"><i class="fa fa-edit"></i>Edit</a>
                                <a href="{{url_for('delete_post',id=p.topic_id)}}" class="btn btn-danger" onclick="return confirm('Do you really want to delete this post?')"><i class="fa fa-trash"></i>Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
    
</div>

    <script src="{{ url_for('static',filename='assets/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
</body>

</html>